<%if flash[:error]%>
<ul>
    <% flash[:error].each do |f|%>
        <li> <%= f %> </li>
    <% end %>
    </ul>
<% end %>
<ol>
    <li> <%= link_to "Author Index", "/authors" %> </li>
    <li> <%= link_to "Book Index", "/books" %> </li>
</ol>
<hr>

<h1> Create Author </h1>
    <%= form_for @author do |a|  %>
        <br> Name <%= a.text_field :name %> </br>
        <br> Birth Year <%=  a.text_field :birth_year %> </br>
        <br> <%= a.submit %> </br>
    <% end %>
    